@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: hsl(30, 38%, 92%);
}
body {
    box-sizing: border-box;
    height: 100vh ;
    color: #000000;

}
.destaque_título {

    color: #280563;
}
.apresentacao {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo {
    width: 615px;
    flex-direction: column;
}
.apresentacao__conteudo__titulo {
    font-size: 34px;
}
.apresentacao__conteudo__paragrafo {
    font-size: 20px;
    color: #1f1e1e;
    font-family: 'Poppins', sans-serif;;
}
.apresentacao__links {
    display: flex;
    justify-content:start;
    font-size: 11px;
    
}
.apresentacao__links__linkedin {
    margin-left: 2dvb
}
.apresentacao__links__linkedin:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Adapte os valores conforme necessário */
    transform: scale(1.1); /* Isso aumentará ligeiramente o tamanho da imagem */
}
.apresentacao__links__github:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Adapte os valores conforme necessário */
    transform: scale(1.1); /* Isso aumentará ligeiramente o tamanho da imagem */
}
